/* shard styles */
* {
    margin: 0px;
    padding: 0px;
    width: 1600;

}
ul,ol,li{

}
.font-open-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.hero-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.button{
    display: flex;
    gap: 10px;
    padding:16px;
    border: none;
    border-radius: 4px;
    background-color:#30B868;
    color: white;
    font-size: 16px;
    cursor: pointer;
    
}
.button:hover {
    background-color: #159048;
}


/* main styles */
.nav-bar{
    display: flex;
    width: 82%;
    height: 92px;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: row; */
    background-color:#ffff;
    margin: 0px auto;

}
.nav-bar ul{
    display: flex;
    /* justify-content: space-between; */
    list-style: none;
    gap: 32px;
    
}
.nav-bar ul a{
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

/* banner section */
.container{
    background: url(./assets/hero-bg.png);
    height: 674px;
    width: 1600px;
}
.banner-container{
    width: 1360px;
    height: 380px;
    text-align: center;
    margin: 0px auto;
    /* align-items: center; */
    padding:155px 30px ;

}
.btn-outline{
    background:transparent;
    border: 1px solid white;
    color: white;
    padding: 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;

}
.btn-outline:hover{
    background-color: rgb(51, 50, 50);
}
.play{
      color: rgb(13, 13, 13) !important;
}
.btn-outline:hover{
    /* color: rgb(111, 104, 104); */
}
.banner-container h1{
    font-size: 72px;
    margin-bottom: 16px;
    color: white;
}
.banner-container span{
    color:#30B868;
}
.banner-container p{
    color: white;
    margin-bottom: 32px;
    max-width: 700px;
    margin: 32px 320px;
}
.btn-container{
    padding: 8px 12px;
    border-radius: 100px;
    cursor: pointer;
    color: #30B868;
    font-size: 16px;
    margin-bottom:16px ;
}
.card-section{
    width: 1600px;
    height:448px;
    text-align: center;
    padding-top: 50px;
    

    /* height: 152px; */
    /* margin-bottom: 16px;
    margin-top: 100px;
    text-align: center; */
}
.cards {
    display: flex;
    align-items:center;
    justify-content: center;
    /* padding-top: 20px; */
    padding: 20px 120px;
    gap: 24px;

   
    /* flex-wrap: wrap; */
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 40px; */
}

.card-container {
    border: 1px solid rgb(123, 109, 109);
    width: 320px;
    height: 300px;
    /* padding: ; */
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    /* border: 2.5px solid black;
    width: ;
    height: 400px; */
  /* background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08); */
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    
    /* padding: 6px; */

}
.card-section h2{
    font-size: 48px;
}
.card-section .pgf{
    padding-top: 16px;
}
.card-container h3{
    margin: 16px;
    /* padding: 24px; */
}
.card-container p{
    padding-left: 16px;
    padding-right: 16px;
}

/* brain-section */

.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 120px;
}
.logo{
    width:600px;
    height: 600px;

}
.main-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* gap: 16px; */
}
#challeng{
    padding: 0 120px;
}
.challenge-container{
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:80px 0;

}
.challenge-container h2{
font-size: 40px;
font-weight: 700;
line-height: 48px;
padding-bottom: 16px;

}

.challenge-container p{
    text-align: center;
    padding-bottom: 24px;
}
.last-p{
    padding-top: 16px;
}
.fotter-container{
    background:rgba(0, 25, 49, 1)
    
}
/* .brain-section{
    display: flex;
    padding: 124;
} */